body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  
}

.header {
  display: flex;
  height: 72px;
  background-color: #1f2937;
  color: white;
  font-size: 24px;
  justify-content: space-between;
  padding: 0px 100px 0px 100px;
  max-height: 40px;
  flex-grow: 1;
  align-items: center;
  padding-bottom: 50px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  margin: 0;
  gap: 8px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin-right: 0px;
}



.main {
  display: flex;
  flex-direction: column;
  }


.title {
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 48px;
  margin-left: 100px;
  margin-right: 0px;
  max-width: 600px;
}

.title.text{
  font-size: 18px;
}
.random-information {
  display: flex;
  background-color: white;
  color: black;
  font-size: 26px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.quote {
  background-color: #e5e7eb;
  min-height: 100px;
  margin-top: 75px;
  margin-bottom: 75;
  font-size: 36px;
}

.call-to-action {
  display: flex;
  flex-grow: 1;
  padding 20px;
  background-color: #3882f6;
  color: white;
  align-items: center;
  align-content: center;
  padding: 30px;
  min-width: 800px
  margin: 40px 100px 20px 100px;
}

.footer {
  display: flex;
  height: 72px;
  background-color: #1f2937;
  color: white;
  font-size: 12px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

a:link,
a:visited,
a:hover,
a:active {
  color: white;
}


.image {
  margin-right: 100px;
  width: 30%;
  height: auto;
  display: flex;
  flex-shrink: 1;
}

.title-block{
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
  background-color: #1f2937;
  flex-grow: 1;
  max-height: 300px;
  padding-bottom: 100px;
}


.awesome-text {
  margin-left: 100px;
  margin-right: 200px;
  color: whitesmoke;
  text-align: justify;
}

.pictures {
display: flex;
align-content: center;
align-items: center;
flex-shrink: 1;
justify-content: space-evenly;
/* gap: 35px; */
padding-top: 20px;
}

.pic1,
.pic2,
.pic3,
.pic4 {
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 266px;
  width: auto;
}

.picture-info {
  max-width: 266px;
  text-align: justify;
  align-items: center;
  }
  


.random.text {
  display: flex;
  flex-grow: 1;
  text-align: justify;
}

.quote {
  font-size: 36px;
  color: #1f2973;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 140px;
  padding-right: 140px;
  text-align: justify;
  }

  .author{
    margin-left: 75%;
  }


.action-block {
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  margin: 100px;
  min-height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #3882f6;
  color: white;

}

.action-text{
  display: flex;
  font-size: 22px;
  padding: 0;
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 50px;
  
}

.call-to-action{
  display: flex;
  font-size: 24px;
  font-weight: 500;
  padding: 0;
  border: 0;
  margin-top: 0;
  margin-left: 50px;
  margin-bottom: 0px;
  max-height: 25px;
}

.right{
  display: flex;
  flex-shrink: 0;
} 

.action-container{
  align-items: center;
  justify-content: end;
}

.button{
  border: 2px solid white;
  color: white;
  background-color: #3882f6;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 80px;
  min-width: 50px;
  font-size: 18px;
  min-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}


.button2{
  border: 2px solid white;
  color: white;
  background-color: #3882f6;
  border-radius: 5px;
  font-size: 16px;
  min-width: 50px;
  margin-left: 100px;
  font-size: 18px;
  min-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

