body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  
}

.header {
  display: flex;
  height: 72px;
  background-color: #1f2937;
  color: white;
  font-size: 24px;
  justify-content: space-between;
  padding: 0px 100px 0px 100px;
  max-height: 40px;
  flex-grow: 1;
  align-items: center;
  padding-bottom: 50px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  margin: 0;
  gap: 8px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin-right: 75px;
}



.main {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
  }


.title {
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 48px;
  margin-left: 100px;
  max-width: 500px;
}

.title.text{
  font-size: 18px;
}
.random-information {
  background-color: white;
}

.quote {
  background-color: #e5e7eb;
  font-size: 36px;
}

.call-to-action {
  display: flex;;
  padding 20px;
  background-color: #3882f6;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 30px;
  margin: 20px 100px 20px 100px;
}

.footer {
  display: flex;
  height: 72px;
  background-color: #1f2937;
  color: white;
  font-size: 12px;
  align-items: center;
  align-content: center;
  justify-content: center;
}

a:link,
a:visited,
a:hover,
a:active {
  color: white;
}


img {
  margin-right: 100px;
  width: 30%;
  height: auto;
  display: flex;
}

.title-block{
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  flex-grow: 1;
  max-height: 300px;
  padding-bottom: 50px;
}

.image{
  display: flex;
  margin: 0 75px 0 0;
}
